.side_drawer {
  background-color: white;
  box-shadow: 4px 0px 5px rgba(0, 0, 0, 0.4);
  height: 100vh;
  position: fixed;
  left: 0;
  top:0;
  width: 60%;
  max-width: 400px;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

@media (min-width: 769px) {
  .side_drawer {
    display: none;
  }
}

.side_drawer.open {
  transform: translateX(0);
}

.side_drawer ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  padding-left: 0;
}

.side_drawer li {
  margin: 0.5rem 0;
}

.side_drawer a {
  color: #521751;
  font-size: 1.5rem;
  text-decoration: none;
}

.side_drawer a:hover,
.side_drawer a:active {
  color: #fa923f;
}
