.toolbar {
  background-color: #521751;
  color: #fff;
  padding-top: 5px;
  width: 100%;
}

.toolbar_navigation {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.toolbar_logo a {
  color: #fff;
  text-decoration: none;
}

.toolbar_navigatin-items ul {
  list-style: none;
  padding-left: 0;
}

.toolbar_navigatin-items a {
  color: #fff;
  text-decoration: none;
}
