  .containerStyle {
    border-bottom: 0;
    border-color: #ddd;
    border-radius: 2px;
    border-width: 1px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.50);
  }
