
  .sectionWrapper {
    border-bottom: 1px solid #b8b894;
    background-color: #f2f2f2;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 3px;
    padding: 5px;
    position: relative;
  }
